<div class="container mat-elevation-z8">
  <h2 class="text-center">Liste des tâches</h2>
  <div class="table table-striped">

    <div class="CheckBoxStyle">
      <mat-checkbox class="CheckBoxClass" value="ongoing" (change)="addFilter($event)">En cours</mat-checkbox>
    </div>
    <button mat-raised-button (click)="openAddDialog()">ADD</button>

    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Label</th>
        <td mat-cell *matCellDef="let element">{{element.label}}</td>
      </ng-container>

      <ng-container matColumnDef="complete">
        <th mat-header-cell *matHeaderCellDef>Complété</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [(ngModel)]="element.complete" (change)="updateComplete(element)"></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openUpdateDialog(element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteTask(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <mat-paginator [pageSize]="rowSize"
                 [length]="totalRecords"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>
