/* Structure */
.container {
  position: relative;
}

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-button {
  width: 490px;
}

.check-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.check-margin {
  margin: 0 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}