<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="tasks" routerLinkActive="active" class="nav-link" >Liste des Tâches</a>
      </li>
  </ul>
</nav>
<router-outlet></router-outlet>
