<h2 mat-dialog-title>Add Task</h2>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput [(ngModel)]="task.label" name="label">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Add</button>
</div>
