<h2 mat-dialog-title>Update Task</h2>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput [(ngModel)]="task.label" name="label">
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="task.complete" name="complete">Complete</mat-slide-toggle>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Update</button>
</div>
